*{
    margin: 0;
    padding: 0;

}

.webpage{

}
.nav-bar{
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

div ul li a {
    text-decoration: none;
    color: #818181;
}

.na-bar a:hover {
    color: #f1f1f1;
}

div ul li {
    margin: 5px;

}

.content {
    margin-left: 120px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

#logo{

}

p {
  font-size: 16px;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url("../img/water1.jpg");
    min-height: 100%;
}

.pimg2 {
    background-image: url("../img/computer.jpeg");
    min-height: 400px;
}

.pimg3 {
    background-image: url("../img/travel.jpeg");
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #e6ffff;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: white;
    padding: 20px;
